/* Normalize CSS */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #f7f7fc;
}

@media screen and (max-width: 600px) {
  body {
    background-color: aquamarine;
  }
}
